* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --accent: rgb(141, 39, 39);
  --card: #f4f4f4;
  --card-selected: #b8b8b8;
}

body {
  font-family: sans-serif;
  background-color: ghostwhite;
}

.main-container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 600px;
  max-height: 600px;
  border: 2px solid var(--accent);
  background-color: white;
  padding: 30px;
  padding-bottom: 0;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  background: black;
  color: white;
  border: none;
  padding: 10px 8px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
}

.btn:hover {
  background: var(--accent);
}

.btn:active {
  transform: scale(0.97);
}

main {
  display: flex;  
  flex-direction: column;
}

.workout-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.card {
  border-radius: 5px;
  padding: 10px;
  background-color: var(--card);
  border: solid 2px grey;
  min-width: 300px;
  max-height: 300px;
  margin: 10px;
}

.card__title {
  border-bottom: solid 2px black;
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  max-height: 150px;
  overflow: scroll;
  background-color: lightgray;
}

.card__content div {
  margin: 5px;
}

.footer {
  background-color: var(--accent);
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 20px
}

.navbar {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  font-weight: bold;
}

a {
  color: white;
  text-decoration: none;
}

.toggle {
  align-self: right;
  position: sticky;
}

.show-exercise {
  border: solid 2px grey;
  background: var(--card);
  margin: 5px;
  padding: 10px 20px;
  text-align: left;
  border-radius: 2px;
}

.exercise {
  background-color: lightgray;
  padding: 2px;
  border-radius: 2px;
  margin-top: 10px;
  border-bottom: solid 2px black;
}

.add-exercise {
  margin: 2px;
}

.show-program {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.card--program {
  max-height: 250px;
}

.program {
  height: 200px;
  font-size: 18px;
}

.card--add:hover {
 background-color: grey;
}

.card--add:active {
  transform: scale(0.97);
 }

 .btn-remove-set{
   padding: 2px;
 }

 .program-title {
   padding-bottom: 10px;
 }

 .btn-submit-program{
   background-color: var(--accent);
 }

 .btn-exit {
   background: white;
   color: black;
   border: solid 2px black;
 }

 .btn-exit:hover {
  background: grey;
 }

.card--start {
  max-height: 600px;
}

.card_content--start {
  max-height: 450px;
}

.btn-remove {
  background: lightgray;
  color: black;
  border: solid 2px black;
}

.btn-remove:hover {
 background: grey;
}

